.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
    color: blueviolet;
}
.container{
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative; 
    bottom: -90px !important;
    right: 0;
    left: 0;
    padding-top:100px ;
 
    
}
p{
    margin-top: 0;
    margin-bottom: -1rem;
}

 


    
    